# Variaveis para o arquivo icontainer.env na VPS para o BOT Ally

DISCORD_TOKEN=seu_token_aqui
CLIENT_ID=seu_client_id_aqui
GUILD_ID=seu_guild_id_aqui
ANNOUNCEMENT_CHANNEL_ID=seu_id_do_canal_de_avisos
BOSS_ROLE_ID=seu_id_do_cargo_de_boss
